.clearfix:before,.clearfix:after{
  content:"";
  display:table;
}
.clearfix:after{clear:both;}

.whitebg {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  margin: 10px 7px;
  overflow: hidden;
}

/* htitle */
.htitle { font-size: 16px; line-height: 40px; border-bottom: 1px solid #eee; color: #484848; font-weight: normal; position: relative; margin-bottom: 0px;text-align: left; margin-top: 0px;}
.htitle:after { content: ""; position: absolute; width: 60px; height: 2px; content: ""; background: #000; left: 0; bottom: 0; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; transition: all .5s ease; }
.htitle:hover:after { width: 80px; }


.content ul {
  padding: 10px 0 0;
}
ul, li {
  list-style: none;
}

.article {
  overflow: hidden;
  margin-bottom: 20px;
  border-bottom: #eee 1px dashed;
  padding-bottom: 20px;
  position: relative;
  min-height: 120px;
}

nav {
  width: 100%;
  height: auto;
  background: rgba(0,0,0,0.5);
  margin-top: 18px;
  position: fixed;
  z-index: 999;
  top: 28px;
}
nav {
  float: left;
  line-height: 40px;
  text-align: center;
}

#starlist li {
  width: 44%;
  text-align: center;
  background: #12b7de;
  float: none;
  display: block;
  font-weight: bold;
  position: relative;
}
#starlist li a {
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  float: none;
  padding: 0;
  background: #12b7de;
  border-bottom: #49ccea 1px solid;
}

.typeinfo {
  margin-bottom: 10px;
  border-bottom: #7f7d80 2px solid;
}
.typename {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 50px;
  height: 50px;
  background-color: #ee3b3d;
  opacity:0.75;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
}

.cuoguolai {
  position: absolute;
  left: 250px;
  top: 140px;
  width: 78px;
  height: 29px;
  background-color: rgba(89, 238, 127, 0.89);
  /* opacity: 0.75; */
  border-radius: 26px;
  text-align: center;
  line-height: 29px;
}
